body{
    font-family: Helvetica, Sans-Serif;
    font-weight:650;
    color: white;
    background-color: #3C3744;
}

p{
    margin: 0px;
}


@-webkit-keyframes redFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes orangeFade {
    0% { opacity: 0; }
    27% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blueFade {
    0% { opacity: 0; }
    44% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes purpleFade {
    0% { opacity: 0; }
    48% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes greenFade {
    0% { opacity: 0; }
    58% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes yellowFade {
    0% { opacity: 0; }
    74% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes lateFade {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.hexSpace{
    height: 400px;
    width: 400px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
    position: absolute;
}

.hexSegment{
    height:20px;
    width:200px;
    position: absolute;
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.rTriangle{
    height:0px;
    width:0px;
    right:-11.6px;
    border-bottom:20px solid transparent;
    position:absolute;
}

.lTriangle{
    height:0px;
    width:0px;
    left:-11.6px;
    border-bottom:20px solid transparent;
    position:absolute;
}

.number{
    height:20px;
    width:200px;
    position: absolute;
    top: 25px;
    text-align: center;
}

.messageBoard{
    right:3%;
    top:10%;
    height:80%;
    width:300px;
    position: absolute;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    opacity: 0;
    border-radius: 10px;
    overflow-y: scroll;
}

.messageBoard::-webkit-scrollbar{
    display: none;
}

.decisionBoard{
    left: 3%;
    top:10%;
    height:80%;
    width:300px;
    position: absolute;
    opacity: 0;
}

.prompt{
    height: 23%;
    top: 0px;
    position: absolute;
    width: 286px;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
}

.buttonSpace{
    height: 10%;
    width: 100%;
    top: 30%;
    position: absolute;
}

.decisionButton{
    height: 86px;
    width: 86px;
    background-color: transparent;
    border: 2px solid white;
    position: absolute;
    border-radius: 10px;
}

.effectText{
    bottom: 0%;
    height: 45%;
    width: 286px;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
}