body{
    font-family: Helvetica, Sans-Serif;
    font-weight:650;
    background-color: #3C3744;
}

p{
    margin: 0px;
}


@-webkit-keyframes redFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes orangeFade {
    0% { opacity: 0; }
    27% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blueFade {
    0% { opacity: 0; }
    44% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes purpleFade {
    0% { opacity: 0; }
    48% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes greenFade {
    0% { opacity: 0; }
    58% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes yellowFade {
    0% { opacity: 0; }
    74% { opacity: 0; }
    100% { opacity: 1; }
}

.hexSpace{
    height: 400px;
    width: 400px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
    position: absolute;
}

.hexSegment{
    height:20px;
    width:200px;
    position: absolute;
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.rTriangle{
    height:0px;
    width:0px;
    right:-11.6px;
    border-bottom:20px solid transparent;
    position:absolute;
}

.lTriangle{
    height:0px;
    width:0px;
    left:-11.6px;
    border-bottom:20px solid transparent;
    position:absolute;
}

.number{
    height:20px;
    width:200px;
    position: absolute;
    top: 25px;
    text-align: center;
}